@import "tailwindcss";

@theme {
  --color-slate-50: #f8fafc; /* Hoofdachtergrond */
  --color-slate-200: #e2e8f0; /* Borders & deviders */
  --color-slate-700: #334155; /* Standaard tekst */
  --color-slate-800: #1e293b; /* Headers, sidemenu, titels */

  --color-sky-200: #bae6fd; /* Badgekleur / Notificaties */
  --color-sky-500: #0ea5e9; /* Actieve knoppen */
  --color-sky-800: #38bdf8; /* Hover knoppen */

  --color-success: #22c55e; /* Succes */
  --color-error: #ef4444; /* Foutmelding */
}

body {
  margin: 0;
}
